.counter {
    background-color: $smoke;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    line-height: 50px;
    border: 1px solid #000;
}

button {
    padding: 10px 15px;
}
